.yes {
    background-color: aqua;
}
.no {
    background-color: brown;
}
.containner {
    background-color: blue;
}
.hi {
    background-color: blue;
}
.hii {
    background-color: blueviolet;
}
.nested-co-1 {
    background-color: yellow;
}
.nested-co-2 {
    background-color: pink;
}
